/* Basic styles for the navigation tabs */
body{
    font-family:'Times New Roman', Times, serif;
}
.naviBar-Parent{
    background-color: #f0f2f5;
    
}
.naviBar {
    list-style-type: none;
    margin-left: 30%;
    padding: 0;
    overflow: hidden;
    
    text-align: center; /* Center the navigation tabs */
    display: flex; /* Add flexbox display */
    justify-content:space-around; /* Move items to the ends */
    align-items: center; /* Center items vertically */
}

li {
    
    display: inline-block; /* Change float to inline-block */
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ddd;
}

.active {
    background-color: #946ab5;
    color: white;
}

.icon {
    padding: 8px; /* Adjust padding */
    text-decoration: none;
    color: #000;
    width: 24px; /* Adjust width */
    height: 24px; /* Adjust height */
}

.icon img {
    width: 100%; /* Make the image inside the icon container fill the entire width */
    height: auto; /* Maintain aspect ratio */
}

.icon:hover {
    background-color: #ddd;
}