body{
  font-family:'Verdana';
  background-image: radial-gradient(circle, #070F28, #1B1A55);
  color: #ffff;
}
nav {
  background-color: #3c0753;
  position: relative;
  left: 470px;
  width: 600px; /* Increase width to accommodate icons and text */
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 22px;
  box-shadow: 2px 2px 20px rgba(0,0,0,3);
}

nav > a {
  color: white;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 22px;
  align-self: center; /* Text aligns to the center of the navigation bar */
}

nav > a:hover {
  transition: 0.25s;
  background: rgb(56, 130, 209);
  color: white;
}

.active {
  background-color: #030637;
  color: white;
  border-color: transparent;
}

.icon {
  float: right; /* Make icons float to the right */
  padding: 8px;
  text-decoration: none;
  color: #000;
  width: 24px;
  height: 24px;
}

.icon img {
  width: 100%; /* Make the image inside the icon container fill the entire width */
  height: auto; /* Maintain aspect ratio */
}

/* Styles for the sidebar */
.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  background-color:#3c0753;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 0;
  box-shadow: 2px 2px 20px rgba(0,0,0,3);
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar {
  width: 10px; /* Adjust width of scrollbar */
  background-color: #3c0753; /* Set background color of scrollbar track */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #7c7c7c; /* Set background color of scrollbar thumb */
  border-radius: 10px; /* Add rounded corners to thumb */
}

.sidebar h3 {
  position: relative;
  left: 10px;
  bottom: 30px;
  margin-bottom: 0px;
  font-size: 22px;
}

h3 span {
  font-size: 25px;
  position: relative;
  left: 27px;
  color: white;
}

h3 i {
  font-size: 25px;
  color: white;
  position: relative;
  top: 14px;
  right: 5px;
}

.sidebar > a {
  padding: 10px 13px;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  display: block;
  position: relative;
  bottom: 20px;
  margin: 2px;
}

.sidebar a:hover {
  transition: .25s;
  background-color: #ffffff; 
  color: black; 

  #icon::before {
      color: white;
  }
}

#rightarrow {
  position: relative;
  left: 140px;
}

#leftarrow:hover {
  background-color: transparent;
}

#leftarrow {
  position: relative;
  bottom: 13px;
  left: 5px;
}

#icon {
  background-color: #1B1A55;
  padding: 8px;
  border-radius: 18px;
}

#new-listing {
  background-color: #910a67;
  color: #ffffff;
  margin: 10px;
  box-shadow: 2px 2px 20px rgba(0,0,0,3);
  text-align: center;
  font-size: 16px;
}

#new-listing:hover {
  background-color: #b02584;
  transition: .25s;
  color: black;
  cursor: pointer;
}
/* For main Area */

.preview {
  height: 85%;
  width: 530px;
  position: fixed;
  top: 0px;
  left: 525px;
  background-color: #3c0753;
  overflow-x: hidden; 
  padding-top: 20px;
  margin-top: 6%;

  border-radius: 20px;

  font-weight: bold;
  color: #ffff;
  box-shadow: 2px 2px 20px rgba(0,0,0,3);
}

.preview img {
  position: absolute; /* Position the image absolutely within its container */
  top: 0; /* Align the top of the image with the top of the container */
  left: 0; /* Align the left of the image with the left of the container */
  width: 100%; /* Ensure the image fills the container horizontally */
  height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  border-radius: 10px;
}

<<<<<<< HEAD:foo/listing.css
#Title {
  position: relative;
  top: 290px;
  left: 10px;
  font-size: 30px;
=======
.listing-info {
  width: 97.2%;
  height: auto;
  position: absolute;
  top: 300px;
  margin-left: 15px;
  max-height: 800px;
  overflow-y: scroll;
}

.listing-info > * {
  margin-bottom: -12px ;
}

#Title {  
  font-size: 22px;
  margin-right: 10px;
  position: relative;
>>>>>>> login/signin:express-testing/public/stylesheets/listing.css
}

#Price {
  position: relative;
  top: 230px;
  left: 400px;
  font-size: 30px;
}

#Details {
  position: relative;
  top: 230px; 
  left: 10px;
  font-size: 25px;
}

#Condition {
<<<<<<< HEAD:foo/listing.css
  position: relative;
  top: 230px;
  left: 10px;
  word-spacing: 50px;
}

#Description {
  position: relative;
  top: 210px;
  left: 10px;
=======
  word-spacing: 25px;
  font-size: 18px;
}

#Location {
  word-spacing: 25px;
  font-size: 16px;
}

#Location span{
  word-spacing: 0px;
  font-size: 16px;
}

#Location span i{
  position: static;
  font-size: 18px;
  color: #b02584;
}

#Description {
  max-height: 65px;
  width: 92%;
>>>>>>> login/signin:express-testing/public/stylesheets/listing.css
  font-size: 15px;
  color: rgb(182, 182, 182);
  text-wrap: wrap;
<<<<<<< HEAD:foo/listing.css
=======
  margin-top: 15px;
}

.listing-info::-webkit-scrollbar {
  width: 10px; /* Adjust width of scrollbar */
  background-color: #030637; /* Set background color of scrollbar track */
  border-radius: 10px;
}

.listing-info::-webkit-scrollbar-thumb {
  background-color: #7c7c7c; /* Set background color of scrollbar thumb */
  border-radius: 10px; /* Add rounded corners to thumb */
>>>>>>> login/signin:express-testing/public/stylesheets/listing.css
}

.bookmark-container {
  position: absolute;
  bottom: 180px;
  font-size: 30px;
  left: 92%;
}

#solid {
  text-decoration: none;
  color: white;
  display: none;
}

#regular {
  text-decoration: none;
  color: white; 
}

#message {
  position: absolute;
  bottom: 15px;
  left: 10px;
  background-color: #b02584;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: lighter;
  color: white;
  transition: transform 0.25s ease;
}

#message:hover {
  background-color: #910a67;
  cursor: pointer;
}

.seller-information {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  padding: 10px;
}

.user-rating i {
  color: black;
  position: relative;
  bottom: 10px;
} 

#checked {
  color: gold;
}

.seller-information img{
  border: #ffffff solid 3px;
  border-radius: 1000px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  position: fixed;
  left: 860px;
  top: 700px;
}