/* Basic styles for the navigation tabs */
body{
    font-family:'Verdana';
    background-image: radial-gradient(circle, #070F28, #1B1A55);
    color: #ffff;
}
nav {
    background-color: #3c0753;
    position: relative;
    left: 550px;
    width: 600px; /* Increase width to accommodate icons and text */
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 22px;
    box-shadow: 2px 2px 20px rgba(0,0,0,3);
  }

  nav > a {
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 22px;
    align-self: center; /* Text aligns to the center of the navigation bar */
  }

nav > a:hover {
    transition: 0.25s;
    background: rgb(56, 130, 209);
    color: white;
}

.active {
    background-color: #030637;
    color: white;
    border-color: transparent;
}

.icon {
    float: right; /* Make icons float to the right */
    padding: 8px;
    text-decoration: none;
    color: #000;
    width: 24px;
    height: 24px;
  }

.icon img {
    width: 100%; /* Make the image inside the icon container fill the entire width */
    height: auto; /* Maintain aspect ratio */
}

/*for side bar */
.sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    left: 0;
    top: 0;
    background-color:#3c0753;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 0;
}

.sidebar::-webkit-scrollbar {
    width: 10px; /* Adjust width of scrollbar */
    background-color: #3c0753; /* Set background color of scrollbar track */
  }
  
.sidebar::-webkit-scrollbar-thumb {
    background-color: #7c7c7c; /* Set background color of scrollbar thumb */
    border-radius: 10px; /* Add rounded corners to thumb */
  }

h2 {
    position: relative;
    bottom: 30px;
    left: 10px;
    font-size: xx-large;
}

input {
    border-radius: 10px;
    border-color: transparent;
    background-color: #030637;
    color: #ffff;
    height: 40px;
    width: calc(100% - 40px);
    margin: 10px;
    font-size: larger;
}

input:hover {
    border-color: #3c0753;
    border-width: 2px;
}

label {
    position: relative;
    left: 15px;
    top: 10px;
}

#imageInput {
    border: none;
    background-color: transparent;
}

#description {
    padding-bottom: 100px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #030637;
    color: #ffff;
    height: 40px;
    width: calc(100% - 40px);
    margin: 10px;
    font-size: larger;
    resize: none;
    overflow-y: hidden;
}

#post {
    width: calc(100% - 30px);
    margin-bottom: 50px;
}

#post:hover {
    border: none;
    background-color: #910A67;
}




/* for preview of post*/
.preview {
    height: 85%;
    width: 530px;
    position: fixed;
    top: 0px;
    left: 600px;
    background-color: #3c0753;
    overflow-x: hidden; 
    padding-top: 20px;
    margin-top: 6%;

    border-radius: 20px;

    font-weight: bold;
    color: #ffff;
    box-shadow: 2px 2px 20px rgba(0,0,0,3);
}

.preview img {
    position: absolute; /* Position the image absolutely within its container */
    top: 0; /* Align the top of the image with the top of the container */
    left: 0; /* Align the left of the image with the left of the container */
    width: 100%; /* Ensure the image fills the container horizontally */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
}

#Title {
    position: relative;
    top: 290px;
    left: 10px;
    font-size: 30px;
}

#Price {
    position: relative;
    top: 225px;
    left: 430px;
}

#Details {
    position: relative;
    top: 230px; 
    left: 10px;
    font-size: 25px;
}

#Condition {
    position: relative;
    top: 230px;
    left: 10px;
    word-spacing: 50px;
}

#Description {
    position: relative;
    top: 210px;
    left: 10px;
    font-size: 15px;
    color: lightgray;
    text-wrap: wrap;
}