<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1><a href="#home"> Logo goes here</a></h1>
    </nav>

    <hr class="solid">

    <h1 id="title">Login</h1>

    <h3>Hi, Welcome back &#x1F44B</h3>

    <section class="border">
        <form>
            <label for="Email">Email</label>
            <input type="text" name="Email" id="email" placeholder="E.g. johndoe@gmail.com">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            
            <div class="remember">
                <input type="checkbox" value="lsRememberMe" id="rememberMe">
                <label for="rememberMe">Remember Me</label>
            </div>

            <input type="submit" value="Login">
        </form>

        <!-- Swaps between login and signup page --> 
            
        <div class ="account">
            <h5>Not registered yet?<a href="/SignUp" id="signup"> Create an account &#129149</a></h5>
            <a href="./forgotPass.html" id="forgot">Forgot Password?</a>
        </div>

    </section>
    
</body>
</html>