<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/profile.css">
    <script src="https://kit.fontawesome.com/cd3149d197.js" crossorigin="anonymous"></script>
</head>
<body>
        <!-- Menu bar on the left side -->
    <div class="sidebar">
        <h3>Student Marketplace</h3>
        <a href="/"><i id="icon" class="fa-solid fa-store"></i> Browse All</a>
        <a href="/notifications"><i id="icon" class="fa-solid fa-bell"></i> Notifications</a>
        <a href="/chat"><i id="icon" class="fa-solid fa-envelope"></i> Inbox</a>
        <a href="/buying"><i id="icon" class="fa-solid fa-bag-shopping"></i> Buying <i id="rightarrow" class="fa-solid fa-caret-right"></i></a>
        <a href="/selling"><i id="icon" class="fa-solid fa-tag"></i> Selling <i id="rightarrow" class="fa-solid fa-caret-right"></i></a>
        <a id="new-listing" href="/post"><i class="fa-solid fa-plus"></i> Create new post</a>
    </div>

    <!-- Main Area -->
    <div class="profile-container">
        <div class="banner-continer">
            <img id="banner" src="./images/defaultImg.png">
        </div>
        <div class="profile-picture-container">
            <img id="profile-picture" src="./images/img_lights.jpg">
        </div>

        <div class="profile-information-container">
            <h2 id="name">John Smith</h2>
            <h3 id="username">@username</h3>
            <h3 id="location"><i class="fa-solid fa-location-dot"></i> Burger Hall</h3>
            <p id="bio"> my bio is realmy4tr fefowjdweo ijowiejfov eiorjfoiev rjegoihtb jgiov jefoeiwjfo oijfweoi fjwe foejfoiwejfjowejfo  fjweifjowef</p>

            <div class="user-rating">
                <h2>Marketplace Rating:</h2>
                <i id="checked" class="fa-solid fa-star"></i>
                <i id="checked" class="fa-solid fa-star"></i>
                <i id="checked" class="fa-solid fa-star"></i>
                <i id="checked" class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>

            <a href=# class="edit-profile">Edit Profile</a>

        </div> 
        
            
    </div>

</body>
</html>